//
// @file
// Block generic styles.
// ----------------------------------------------------------------------------

.block--proposals {
  text-align: center;

  div + div {
    margin-top: 20px;
  }
}

.landing-teaser {
  a {
    color: $yellow;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
  }
}
