//
// @file
// Styles for all regions within main.
// ----------------------------------------------------------------------------

// Main
#main {
  background-color: $white;
  overflow: hidden;
  padding-bottom: 30px;
}

.front {
  #main-content {
    background: $teal-white;
  }
}


// Above content
#above-content {
  background-color: transparentize($teal-black, 0.15);
  padding-top: rhythm(2);
}

// Main content
#main-content {
  padding: 0;
}

.view-sponsors{
  .view-content{
    ul{
      padding: 0;
      li{
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        .views-field-field-sponsor-logo{
          display: inline-block;
        }
        width: 43%;
        padding: 2%;
        @include breakpoint($tablet, $no-query: '.lt-ie9'){
          width: 23%;
          padding: 2%;
        }
      }
    }
  }
}
