//
// @file
// Styles for all regions within main.
// ----------------------------------------------------------------------------

// Main
#main {
  background-color: $white;
  overflow: hidden;
  padding-bottom: 30px;
}

.front {
  #main-content {
    background: $teal-white;
  }
}

#block-views-updates-block {
  padding-bottom: rhythm(10);
  .views-field-created {
    @extend .field-date;
  }
  .views-field-title{
    @extend .field-title-teaser;
  }
  .views-row {
    margin-bottom: rhythm(10);
  }

  @include breakpoint($tablet, $no-query: '.lt-ie9') {
    .view-content {
      display: table;
      margin-bottom: rhythm(5);
    }
    .views-row {
      display: table-cell;
      padding: 0 30px 0 0;
      width: 33%;
    }
  }
}


// Above content
#above-content {
  background-color: transparentize($teal-black, 0.15);
  padding-top: rhythm(2);
}

// Main content
#main-content {
  padding: 0;
}
