//
// @file
// Misc. utility classes.
//
// ----------------------------------------------------------------------------

.float--left {
  float: left;
}

.float--right {
  float: right;
}

@mixin textEllipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}