
body {
  background: url(../images/bg.png) 50% 50%;
  text-align: center;
  }

#wrapper {
  background: url(../images/bg_sky.png) 0 0 repeat-x;
  }
  #wrapper-inner {
    background: url(../images/bg_mountains.png) 50% 0 no-repeat;
    min-width: 940px;
    }

#container {
  background: url(../images/bg_mountains.png) 50% 0 no-repeat;
  margin: 0 auto;
  text-align: left;
  width: 940px;
  }

#header {
  position: relative;
  height: 240px;
  float: left;
  width: 100%;
  }

#content {
  background-color: #ffffff;
  clear: left;
  width: 640px;
  }
  
#footer {
  background: #333 url(../images/bg_footer.png) 0 0 repeat;
  }