//
// @file
// Misc. rules for items within content area.
// ----------------------------------------------------------------------------

.travel-map {
  width: 265px;

  @include breakpoint($tablet, $no-query: '.lt-ie9') {
    width: 100%;
  }
}

.page-register {
  #highlighted {
    @include breakpoint($tablet) {
      float: right;
      margin-left: 50px;
      width: 50%;
    }
  }
}

.node-type-article {
  .field-type-image {
    float: right;
    margin: 0 0 30px 30px;
    max-width: 120px;

    @include breakpoint($mobile-wide) {
      max-width: 200px;
    }

    @include breakpoint($tablet) {
      max-width: 300px;
    }
  }
}

.field-name-field-register-for-training {
  margin-top: 30px;
}