//
// @file
// Misc. rules for items within content area.
// ----------------------------------------------------------------------------

.travel-map {
  width: 265px;

  @include breakpoint($tablet, $no-query: '.lt-ie9') {
    width: 100%;
  }
}

.page-register {
  #highlighted {
    @include breakpoint($tablet) {
      float: right;
      margin-left: 50px;
      width: 50%;
    }
  }
}

.field-name-field-register-for-training {
  margin-top: 30px;
}