
.entity-profile2 {
  .field {
    margin-bottom: 10px;
  }

  .field > div {
    display: inline-block;
  }

  .field > div:first-child {
    color: $teal;
  }
  /* Remove clearfix */
  .field:after,
  .field:before {
    content: none;
  }

  .field-name-field-profile-image {
    margin: 0 auto;
    text-align: center;
    width: 200px;

    @include breakpoint($tablet, $no-query: '.lt-ie9') {
      float: right;
      margin: 0 0 0 30px;
    }
  }

  .field-name-field-first-name,
  .field-name-field-last-name {
    display: inline-block;
    margin-right: 5px;
  }
}

.view-user-personal-information {
  h4.label,
  h4.field {
    display: inline;
    font-family: $ff-body;
    font-weight: normal;
  }

  h4.field {
    color: $gray-dark;
  }

  &.single-user {
    .community_users {
      padding: 0;

      li {
        list-style-type: none;
        padding: 0;

        div.float--right {
          width: 150px;

          @include breakpoint($mobile) {
            width: auto;
          }
        }

        img {
          border-radius: 50%;
          max-width: 130px;

          @include breakpoint($mobile) {
            max-width: 200px;
          }
        }

        h4.label {
          display: inline-block;
          width: 130px;
        }
      }

      .bio {
        color: $gray-dark;
        margin-bottom: 10px;
      }

      .button--primary {
        display: inline-block;
        margin-top: 1em;

        a {
          color: white;
        }
      }
    }
  }

  &.all-users{
    .community_users {
      columns: 2;
      list-style: none;
      margin: 0;
      padding: 0;

      @include breakpoint($mobile, $no-query: '.lt-ie9') {
        columns: 4;
      }

      li {
        break-inside: avoid;
        padding: 10px;
        text-align: center;

        div a {
          display: block;
        }

        img {
          border-radius: 50%;
          width: 150px;
        }

        h3 {
          font-size: .65em;
          @include textEllipsis();
        }
      }
    }
  }
}
