.node-session-form {

  .form-item-title {
    input {
      width: 90%;
      font-size: $fs-l;
      padding: 10px;
    }
  }

  .filter-wrapper {
    display: none;
  }

  .field-name-field-session-timeslot,
  .field-name-field-experience-level,
  .field-name-field-track {

    display: inline-block;
    width: 100%;

    @include breakpoint($mobile) {
      width: 33.33333%;
    }
  }

  .ckeditor_links {
    display: none;
  }

  #field-speaker-add-more-wrapper {
    .description {
      margin-bottom: 20px;
    }
  }
}

.node-session {
  .field-name-field-session-room {
    margin-bottom: 15px;
  }

  .room, .track, .level, .speaker, .time  {
    display: block;
    padding: 20px 0 0;
    width: 100%;
  }

}