.node-session-form {

  .form-item-title {
    width: 90%;
    font-size: 20px;
    padding: 10px;
  }
  
  .filter-wrapper {
    display: none;
  }

  .field-name-field-session-timeslot,
  .field-name-field-experience-level,
  .field-name-field-track {

    display: inline-block;
    width: 100%;

    @include breakpoint($mobile) {
      width: 33.33333%;
    }
  }

  .ckeditor_links {
    display: none;
  }

  .field-speaker-add-more-wrapper {
    .description {
      margin-bottom: 20px;
    }
  }
}

.node-session {
  .field-name-field-session-room {
    margin-bottom: 15px;
  }
}