
/*

  General Styles
  
  */

body {
  color: #333333;
  }
  
h1 {
  font-size: 26px;
  color: #003366;
  line-height: 30px;
  }
h2 {
  font-size: 26px;
  line-height: 30px;
  color: #006699;
  }
  h2 strong {
    color: #003366;
  }
h3 {
  font-size: 22px;
  }
h4 {
  line-height: 20px;
  font-size: 20px;
  color: #cc3300;
  }
h5 {
  font-size: 15px;
  }
h6 {
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 0;
}

h1 a ,
h2 a ,
h3 a ,
h4 a ,
h5 a ,
h6 a {
  color: inherit;
  text-decoration: none;
  }
h1 a:hover ,
h2 a:hover ,
h3 a:hover ,
h4 a:hover ,
h5 a:hover ,
h6 a:hover {
  text-decoration: underline;
  }
h4 a:hover {
  color: #990000;
}

a {
  color: #003366;
  }
  a:hover {
    color: #006699;
    }


/*
  
  @font-face
  
  */

.view-front h2 ,
table caption ,
#global-login p ,
#volunteer-link ,
h1 {
  font-weight: normal;
  font-family: 'DeliciousRoman', Helvetica, Arial, sans-serif;
}

fieldset legend ,
#global-login p a,
#block-views-featured_sessions-block_1 .value-1 ,
#volunteer-link a ,
h1 strong ,
h2 strong ,
h2 ,
h3 ,
h4 ,
ul.primary-links li a {
  font-weight: normal;
  font-family: 'DeliciousBold', Helvetica, Arial, sans-serif;
}

#twitter a {
  font-weight: normal;
  font-family: 'DeliciousBoldItalic', Helvetica, Arial, sans-serif;
}

h5 {
  font-weight: normal;
  font-family: 'DeliciousHeavy', Helvetica, Arial, sans-serif;
}